* {
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
}

header {
    background-color: #262A56;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px lightgray;
    position: fixed;
    top: 0;
    z-index: 2;
    
 

    

}

.header-container {
   
    color: white;
    max-width: 1200px;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
    


}

.logo-container h3 {
    text-transform: uppercase;
    letter-spacing: 2px;

}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

nav a:hover {
    background-color: gray;
    
    
}

main {
    position: relative;
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
   
}


.splash {
    
    margin: auto;
    height: 500px;
    max-width: 1200px;
    

}

.splash-container {
    
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    
    

}

.leftsplash {
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;

}

.leftsplash h2 {
    font-size: 32px;
    letter-spacing: 4px;
}


.animate__pulse {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
}

.leftsplash p {
    font-size: 12px;
    position: relative;
    left: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}


.subscription-container {
    position: relative;
    top: 30px;
    
    border: solid 2px #B8621B ;
    background-color: #B8621B;
    
    border-radius: 20px;
}


.subscription-container input {
    height: 50px;
    padding-left: 10px;
    margin: 0;
    width: 200px;
    border: none;
    border-radius: 20px 0 0 20px;
}

.subscription-container button {
    border: none;
    background-color: #B8621B;
    width: 100px;
    color: white;

}


.rightsplash {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-testimonial {
    height: 500px;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1543270122-f7a11ad44f3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    opacity: .8;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
}

.img-testimonial p {
    font-weight: 500;
    font-style: italic;
    position: absolute;
    bottom: 0px;
    color: white;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,.4);
    
}


.services {
    max-width: 1200px;
    height: 500px;
    margin: auto;
    margin-top: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #E3CCAE;
    
    border-radius: 30px;
   
}

.services-container h3 {
    margin: 20px 0;
    font-size: 24px;
    background-color: #262A56;
    color: white;
    padding: 20px;
    border-radius: 30px 30px 0 0;
}

.types-services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
    
}

.service-type {
    height: 400px;
    width: 100%;
    text-align: center;
    
}

.service-type h3 {
    border-bottom: dashed 1px gray;
    padding-bottom: 20px;
    color: #B8621B;
}

.service-type p {
    text-align: start;
    padding: 10px;
    text-transform: none;
    
}


.section-container {
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
   
}

.partner-logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners h3 {
    color: #262A56;
    border-bottom: dashed 1px;
   
    
}

.partners h4 {
    padding: 20px;
    
}

.partners p {
    padding: 10px;
}


.about-us {
    height: 500px;
    max-width: 1200px;
    margin: auto;

}

.about-us h3 {
    border-bottom: dashed 1px gray;
}


footer {
    background-color: gray;
    height: auto;
    width: 100%;
    color: white;


}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-footer {
    padding: 20px;
}

.left-footer >* {
    margin: 10px 0;
    color: white;
}

.left-footer a {
    color: white;
}

.map-section {
    padding: 20px;
}



iframe {
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
}